body {
    background-color: #568f56;
}

main {
    font-family: monospace;
    width: 80%;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
    background-color: #90EE90;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 3px;
}

h3, p {
    color: white;
    font-size: 24px;
}

#playercards, #computercards, #win, #lose {
    visibility: hidden;
}

/* TODO: Use display: flex to allow for mobile functionality */
.playarea {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: 450px;
    grid-gap: 2%;
}

.buttons, .playerdeck, .computerdeck, .playercard, .computercard {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.playerdeck, .computerdeck, .playercard, .computercard {
    justify-content: center;
}

#playercards, #computercards, #fulldeck {
    width: 200px;
    height: 250px;
}

.fullcard {
    display: flex;
    position: relative;
    width: 200px;
    height: 280px;
    align-items: center;
}

.cardImg, .cardText {
    position: absolute;
    width: 100%;
}

.cardText {
    font-size: 96px;
    text-align: center;
}